<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ly.cloud.mapper.base.ZgxBqPOMapper" >
  	<!-- 以下写查询方法 -->
  	
  	<!-- 以下写插入方法 -->
  	<!-- 批量插入方法，此方法不要改动否则更新表的时候会被覆盖 -->
  	<!-- 使用此方法的时候请使用NHMybatisUtils.batchCommit(ZgxBqPOMapper.class,list);进行调用，这主要是为了解决插入数据量多的时候需要分批次插入 -->
    <insert id="insertPOBatch" parameterType="java.util.List">
	    insert into ZHXG_ZG_ZGX_BQ(PKID,BQBZ,BQMC)
	        (
	            <foreach collection="list" item="row" index="index" separator="union all">
	                (select 
						#{row.pkid,jdbcType=VARCHAR},
						#{row.bqbz,jdbcType=VARCHAR},
						#{row.bqmc,jdbcType=VARCHAR}
	                   from dual)
	            </foreach> 
	        )
	</insert>
  	
  	<!-- 以下写更新方法 -->
  	
  	<!-- 以下写删除方法 -->
  	
</mapper>